<!-- footer -->


<footer>
    <div class="container text-white p-3">
        <img src="images/logotext.svg">
        <div class="row">
            <div class="col-6 text-left">
                <p class="content text-left">Konten olahraga rumahan</p>
                <p class="content text-left">Artikel</p>

            </div>
            <div class="col-6 text-right">
                <p class="content text-right"> Video Olahraga </p>
                <p class="content text-right"> Artikel</p>
            </div>
        </div>
        <p class="end text-center  text-white">
            <span id="years"></span> © 2021 OjoMager Incorporated</p>
    </div>

</footer>

</body>

</html>