<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>

<script src="/script/api.js"></script>
<script src="/script/alert.js"></script>
<script src="/script/utils.js"></script>
<script src="/script/error.js"></script>

<script>
    const token = getCookie('jwt_token');
    const profileSection = $('#profileSection');
    if (token) {
        const user = JSON.parse(getCookie('user'));
        const name = user.name.split(' ');
        profileSection.html(`
        <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Hallo, ${name[0]}</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a href="/profile"><button class="dropdown-item" type="button"><i class="far fa-user-circle mr-2"></i>Profil</button></a>
                    <a href="/program-favorite"><button class="dropdown-item" type="button"><i class="far fa-heart mr-2"></i>Video Favorit</button></a>
                    <a href="/logout"><button class="dropdown-item logout" type="button"><i class="fas fa-sign-out-alt mr-2"></i>Logout</button></a>
                </div>
            </div>
        `);
    } else {
        profileSection.html(
            `
            <a href="/login" class="btn btn-light login-btn btn-sm mr-2">Masuk</a>
            <a href="/register" class="btn btn-primary btn-sm">Daftar</a>
            `
        );
    }
</script>