<footer>
    <div class="container text-white p-3">
        <div class="row konten-footer">
            <div class="col-6 kiri">
                <img class="gambar" src="/images/logowhite.svg">
                <p class="content text-left tagline">Konten olahraga rumahan.<br>Untuk kamu yang beraktivitas di rumah.
                </p>
            </div>
            <div class="col-6 kanan">
                <a href="/programs" class="link-footer">
                    <p class="kanan content text-right">VIDEO OLAHRAGA</p>
                </a>
                <a href="/programs" class="link-footer">
                    <p class="kanan content text-right"> ARTIKEL</p>
                </a>
            </div>
        </div>
        <p class="end text-center  text-white">
            <span id="years"></span> ©OjoMager Incorporated</p>
    </div>
</footer>

<script>
    const year = document.querySelector('#years');

    // tampilkan tahun
    year.innerHTML = new Date().getFullYear();
</script>