<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title + ' | ' || '' %>OjoMager</title>

<!-- font google  -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,900&family=Viga&display=swap');
</style>
<!-- boostrap -->
<link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
<!-- swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<!-- font awesome -->
<script src="https://kit.fontawesome.com/61ea652ee7.js" crossorigin="anonymous"></script>
<!-- style own -->
<link rel="stylesheet" href="/style/styles.css">
<link rel="shortcut icon" type="image/jpg" href="/favicon.ico"/>