<!-- struktur file header -->
<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img class="gambar" src="/images/logo.svg">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse font-weight-bold" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/article">Artikel<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/program">Video Olahraga</a>
                    </li>
                </ul>
            </div>
            <div id="profileSection"></div>
        </div>
        </div>
    </nav>
</header>
<!-- end header -->