<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card " style="width: 23rem;">
                    <img src="images/error-404.svg" class="gambar">
                    <div class="card-body">
                        <h5 class="card-title text-center">Aduh, konten yang kamu cari ngak ditemukan!</h5>
                        <p class="card-text text-center">Coba kamu tulis kata kunci yang sesuai ya.</p>
                        <a href="#" class="btn btn-primary">Kembali ke halaman</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>