@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Nunito Sans', sans-serif !important;
}

.title-bar {
  padding: 60px 0 30px 0;
}

.title-bar h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}

.filter-search-box {
  padding: 35px 0;
}

.filter-search-box .row {
  width: 60%;
}

.filter-search-box .filter__box, .filter-search-box .search__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 30px;
  cursor: pointer;
}

.filter-search-box .filter__box svg, .filter-search-box .search__box svg {
  margin-right: 8px;
}

.filter-search-box .search__box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card__content {
  margin: 20px 0 40px 0;
}

.card__content .row {
  row-gap: 20px;
  margin-bottom: 30px;
}

.jumbotron {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
  background: #263238;
}

.jumbotron .container-fluid {
  padding: 0;
  margin: 0;
}

.jumbotron .container-fluid .row {
  padding: 0;
  margin: 0;
}

.jumbotron .container-fluid .row .col-md-8.col-12 {
  padding: 5px;
}

.jumbotron .container-fluid .row .col-md-4.col-12 {
  position: relative;
}

.jumbotron .container-fluid .row .col-md-4.col-12 .info__video {
  padding: 30px;
}

.jumbotron .container-fluid .row .col-md-4.col-12 .info__video .info__video--title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.jumbotron .container-fluid .row .col-md-4.col-12 .info__video .info__video--content {
  font-weight: lighter;
  font-size: 16px;
}

.jumbotron .container-fluid .row .col-md-4.col-12 .info__video .info__video--like {
  position: absolute;
  bottom: 0;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.jumbotron .container-fluid .row .col-md-4.col-12 .info__video .info__video--like svg {
  margin-right: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

header .navbar {
  margin-bottom: 72px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

header .navbar .btn {
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

header .navbar .navbar-nav {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
}

header .navbar .nav-link {
  margin-right: 20px;
  position: relative;
  font-size: 12px;
  font-family: 'Nunito Sans', sans-serif;
  color: black;
}

header .navbar .nav-link:hover::after {
  content: "";
  display: block;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
  border-bottom: 3px solid #0B63DC;
}

header .navbar .gambar {
  width: 80%;
  height: 80%;
  padding: 0;
}

header .navbar .dropdown {
  margin-right: 30px;
}

header .navbar .dropdown-item {
  font-size: 12px !important;
  font-family: 'Nunito Sans', sans-serif !important;
}

header .navbar .logout {
  color: red;
}

footer {
  background-color: #202432;
  font-family: 'Nunito Sans', sans-serif;
  width: auto;
  padding-top: 30px;
}

footer p.tagline {
  font-size: 12px;
}

footer a.link-footer {
  text-decoration: none;
  font-size: 10px;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

footer p.kanan {
  margin-bottom: 10px;
}

footer p.end {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  text-align: center;
  background-color: #202432;
  padding: 0;
  margin: 0;
}

footer p.end::before {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid white;
  margin: auto;
  margin-bottom: 13px;
  margin-top: 60px;
}

.login .content__login form label {
  font-weight: 400;
  font-size: 16px;
}

.login .content__login a {
  color: #000;
  display: block;
  font-size: 14px;
}

.login .content__login a:hover {
  text-decoration: none;
}

.login .content__login .registerBox {
  width: 100%;
  text-align: center;
}

.login .content__login .registerBox p {
  font-weight: 400;
  font-size: 12px;
}

.login .content__login .registerBox a {
  display: inline-block;
}

.register .content__register .formBox {
  width: 60%;
}

.register .content__register .formBox .loginBox {
  width: 100%;
  text-align: center;
}

.register .content__register .formBox .loginBox p {
  font-weight: 400;
  font-size: 12px;
}

.register .content__register .formBox .loginBox a {
  display: inline-block;
}

.forgotPassword .content__forgotPassword .formBox .formBox__header p {
  font-weight: 300;
  font-size: 14px;
}

.changePassword .content__changePassword .formBox .formBox__header {
  margin-bottom: 20px;
}

.changePassword .content__changePassword .formBox .formBox__header p {
  font-weight: 300;
  font-size: 14px;
}

.changePassword .content__changePassword .formBox .formBox__header ul {
  padding-left: 20px;
  font-weight: 300;
  font-size: 14px;
}

.verification .content__verification .formBox {
  width: 60%;
}

.verification .content__verification .formBox .formBox__header {
  margin-bottom: 20px;
}

.verification .content__verification .formBox .formBox__header ul {
  padding-left: 20px;
  font-weight: 300;
  font-size: 14px;
}

.login, .register, .forgotPassword, .changePassword, .verification {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login .content__register, .login .content__login, .login .content__forgotPassword, .login .content__changePassword, .login .content__verification, .register .content__register, .register .content__login, .register .content__forgotPassword, .register .content__changePassword, .register .content__verification, .forgotPassword .content__register, .forgotPassword .content__login, .forgotPassword .content__forgotPassword, .forgotPassword .content__changePassword, .forgotPassword .content__verification, .changePassword .content__register, .changePassword .content__login, .changePassword .content__forgotPassword, .changePassword .content__changePassword, .changePassword .content__verification, .verification .content__register, .verification .content__login, .verification .content__forgotPassword, .verification .content__changePassword, .verification .content__verification {
  width: 40%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .content__register h2, .login .content__login h2, .login .content__forgotPassword h2, .login .content__changePassword h2, .login .content__verification h2, .register .content__register h2, .register .content__login h2, .register .content__forgotPassword h2, .register .content__changePassword h2, .register .content__verification h2, .forgotPassword .content__register h2, .forgotPassword .content__login h2, .forgotPassword .content__forgotPassword h2, .forgotPassword .content__changePassword h2, .forgotPassword .content__verification h2, .changePassword .content__register h2, .changePassword .content__login h2, .changePassword .content__forgotPassword h2, .changePassword .content__changePassword h2, .changePassword .content__verification h2, .verification .content__register h2, .verification .content__login h2, .verification .content__forgotPassword h2, .verification .content__changePassword h2, .verification .content__verification h2 {
  font-weight: 700;
  font-size: 28px;
}

.login .content__register button, .login .content__login button, .login .content__forgotPassword button, .login .content__changePassword button, .login .content__verification button, .register .content__register button, .register .content__login button, .register .content__forgotPassword button, .register .content__changePassword button, .register .content__verification button, .forgotPassword .content__register button, .forgotPassword .content__login button, .forgotPassword .content__forgotPassword button, .forgotPassword .content__changePassword button, .forgotPassword .content__verification button, .changePassword .content__register button, .changePassword .content__login button, .changePassword .content__forgotPassword button, .changePassword .content__changePassword button, .changePassword .content__verification button, .verification .content__register button, .verification .content__login button, .verification .content__forgotPassword button, .verification .content__changePassword button, .verification .content__verification button {
  margin-top: 10px;
  width: 100%;
}

.login .content__register .footer, .login .content__login .footer, .login .content__forgotPassword .footer, .login .content__changePassword .footer, .login .content__verification .footer, .register .content__register .footer, .register .content__login .footer, .register .content__forgotPassword .footer, .register .content__changePassword .footer, .register .content__verification .footer, .forgotPassword .content__register .footer, .forgotPassword .content__login .footer, .forgotPassword .content__forgotPassword .footer, .forgotPassword .content__changePassword .footer, .forgotPassword .content__verification .footer, .changePassword .content__register .footer, .changePassword .content__login .footer, .changePassword .content__forgotPassword .footer, .changePassword .content__changePassword .footer, .changePassword .content__verification .footer, .verification .content__register .footer, .verification .content__login .footer, .verification .content__forgotPassword .footer, .verification .content__changePassword .footer, .verification .content__verification .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.login .boxImg, .register .boxImg, .forgotPassword .boxImg, .changePassword .boxImg, .verification .boxImg {
  width: 60%;
  height: 100%;
  position: relative;
}

.login .boxImg img, .register .boxImg img, .forgotPassword .boxImg img, .changePassword .boxImg img, .verification .boxImg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.landingPage {
  font-family: 'Nunito Sans', sans-serif;
}

.landingPage .top__wrapper .jumbotron {
  height: calc(100vh - 72px);
  background-image: url("../images/portrait-couple-doing-exercise-together-watching-video-tutorial-laptop-while-staying-home-sport-concept-new-normal-lifestyle-freepik.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.landingPage .top__wrapper .jumbotron .container {
  position: absolute;
  top: 30%;
  left: 10%;
  text-align: justify;
  color: #fff;
}

.landingPage .top__wrapper .jumbotron .container .display-4 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
}

.landingPage .card__content {
  margin-top: 40px;
}

.landingPage .card__content .col-md-4 {
  padding: 0px 20px;
}

.landingPage .card__content .landing__program .row.title {
  margin: 0px;
}

.landingPage .card__content .landing__program .row.sub-title {
  margin-bottom: 18px;
  margin-top: 13px;
}

.landingPage .card__content .landing__program h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0px;
}

.landingPage .card__content .landing__program p {
  font-size: 18px;
}

.landingPage .card__content .landing__program a {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.landingPage .card__content .landing__article .row.title {
  margin: 0px;
}

.landingPage .card__content .landing__article .row.sub-title {
  margin-bottom: 18px;
  margin-top: 13px;
}

.landingPage .card__content .landing__article h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0px;
}

.landingPage .card__content .landing__article p {
  font-size: 18px;
}

.landingPage .card__content .landing__article a {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.landingPage .card__content p {
  color: #757575;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 0px;
}

.landingPage .card__content .card-body {
  padding-top: 18px;
  padding-bottom: 16px;
  padding-right: 24px;
  padding-left: 24px;
  min-height: 310px;
}

.landingPage .card__content .card-body p {
  font-size: 16px;
}

.landingPage .card__content .card-body h3.card-text {
  text-align: left;
}

.landingPage .card__content .card-body p.card-description {
  text-align: left;
}

.landingPage .card__content a {
  text-align: right;
}

.landingPage .card__content .card {
  border-radius: 8px;
  border: none;
}

.landingPage .card__content .card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-height: 226.66px;
}

.landingPage .card__content .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.landingPage .card__content .card__header p {
  margin-left: 15px;
}

.landingPage .card__content .card-title {
  background-color: #00B292;
  margin-right: 1rem;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.landingPage .card__content h3.card-text {
  font-size: 20px;
  font-weight: 700;
}

.landingPage .card__content p.card-description {
  color: #757575;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 0px;
}

.landingPage .card__content .card-title.kataPakar {
  margin-right: 1rem;
  padding: 2px 8px;
  border-radius: 4px;
}

.landingPage .card__content .card-title.nutrisi {
  background-color: #202432;
  margin-right: 1rem;
  padding: 2px 8px;
  border-radius: 4px;
}

.landingPage .mid__wrapper .jumbotron {
  height: auto;
  background-color: #42A5F5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 0px;
}

.landingPage .mid__wrapper .jumbotron .container {
  text-align: justify;
  color: #fff;
  text-align: center;
  padding: 60px 0px;
}

.landingPage .mid__wrapper .jumbotron .container h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.landingPage .mid__wrapper .jumbotron .container h2 {
  font-size: 36px;
  padding: 0px 0px;
  margin-bottom: 15px;
}

.landingPage .mid__wrapper .jumbotron .container .col-4 h1 {
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 15px;
}

.landingPage .mid__wrapper .jumbotron .container .col-4 p {
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 15px;
  font-weight: 400;
}

.landingPage .our-services .jumbotron {
  height: auto;
  background-color: #fff;
  position: relative;
}

.landingPage .our-services .jumbotron .container {
  text-align: justify;
  color: #000;
  padding-top: 60px;
}

.landingPage .our-services .jumbotron .container .display-4 {
  font-size: 20px;
  color: #0075E7;
  margin-bottom: 15px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.landingPage .our-services .jumbotron .container .row h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.landingPage .our-teams .jumbotron {
  height: auto;
  background-color: #fff;
  position: relative;
}

.landingPage .our-teams .jumbotron .container {
  text-align: justify;
  color: #000;
  padding-top: 60px;
}

.landingPage .our-teams .jumbotron .container .display-4 {
  font-size: 20px;
  color: #0075E7;
  margin-bottom: 15px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.landingPage .our-teams .jumbotron .container .row h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.landingPage .our-teams .jumbotron .container p {
  margin-bottom: 40px;
}

.landingPage .btm__wrapper .jumbotron {
  height: 121px;
  background-color: #42A5F5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.landingPage .btm__wrapper .jumbotron .container {
  text-align: justify;
  color: #fff;
  padding: 30px 0px;
}

.landingPage .btm__wrapper .jumbotron .container p {
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  font-size: 20px;
}

.landingPage .btm__wrapper .jumbotron .container a {
  color: #42A5F5;
  text-align: right;
}

.detailArticle {
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 100px;
}

.detailArticle .article .h2 {
  font-size: 60px;
  font-weight: bold;
}

.detailArticle .card__content .card {
  border-radius: 8px;
  border: none;
}

.detailArticle .card__content .card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.detailArticle .card__content .card-body {
  padding-top: 18px;
  padding-bottom: 16px;
  padding-right: 24px;
  padding-left: 24px;
  min-height: 310px;
}

.detailArticle .card__content .card-body .btn-success {
  background-color: #00B292;
  border-color: #00B292;
}

.detailArticle .card__content .card-body #tombolartikel {
  font-weight: 600;
  padding: 2px 8px;
  font-size: 16px;
  margin-bottom: 8px !important;
}

.detailArticle .card__content .card-body h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

.detailArticle .card__content .card-body p {
  color: #757575;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 0px;
}

.profile {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 48px 265px !important;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
}

.profile .title {
  margin-bottom: 0px !important;
  font-weight: 700;
  color: #0075E7;
}

.profile .description {
  margin-top: 10px !important;
  font-size: 14px;
}

.profile .check-box {
  font-size: 14px;
}

.profile .label-checkbox {
  font-size: 12px;
}

.profile .button-submit-wrapper {
  margin-top: 20px;
}

.listOlahraga {
  font-family: 'Nunito Sans', sans-serif;
  margin: 20px 0 40px 0;
}

.listOlahraga h2 {
  font-weight: 700;
}

.listOlahraga .row {
  row-gap: 20px;
  margin-bottom: 30px;
}

.listOlahraga .dropdown {
  margin-bottom: 50px;
}

.listOlahraga .dropdown .btn-primary {
  background-color: #42A5F5;
  border-color: #42A5F5;
}

.listOlahraga .dropdown .dropdown-item:hover {
  background-color: #42A5F5;
  color: white;
}

.listOlahraga .searchbar .bg-primary {
  background-color: #42A5F5 !important;
  border-color: #42A5F5 !important;
}

.listOlahraga .searchbar svg {
  margin-left: 13px;
}

.listOlahraga .searchbar button {
  padding-left: 13px;
  padding-right: 19px;
}

.listOlahraga .card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.listOlahraga .card {
  border-radius: 8px;
  border: none;
}

.listOlahraga .card-body {
  padding-top: 18px;
  padding-bottom: 16px;
  padding-right: 24px;
  padding-left: 24px;
  min-height: 310px;
}

.listOlahraga .card-body .btn-success {
  background-color: #00B292;
  border-color: #00B292;
}

.listOlahraga .card-body #tombolartikel {
  font-weight: 600;
  padding: 2px 8px;
  font-size: 16px;
  margin-bottom: 8px !important;
}

.listOlahraga .card-body h4.card-text {
  font-size: 20px;
}

.listOlahraga .card-body h5 {
  font-size: 16px;
  font-weight: 600;
}

.listOlahraga .card-body h6 {
  font-size: 20px;
  margin-bottom: 12px;
}

.listOlahraga .card-body p {
  color: #757575;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 0px;
}

.listOlahraga .card__content .col-md-4 {
  padding: 0px 20px;
}

.listOlahraga .card__content a {
  text-decoration: none;
}

.listOlahraga .card__content a h6 {
  color: #212121;
}

.detail__olahraga .info__video--content p {
  margin-bottom: 0;
}

.detail__olahraga .info__video--description p {
  color: #BDBDBD;
}

.detail__olahraga .thumbnail__donasi .container {
  background: #263238;
  border-radius: 12px;
}

.detail__olahraga .thumbnail__donasi .container p {
  font-weight: lighter;
}

.detail__olahraga .thumbnail__donasi .container .header p {
  text-align: justify;
}

.detail__olahraga .swiper-container {
  width: 100%;
  height: 100%;
}

.detail__olahraga .swiper-slide {
  background-position: center;
  background-size: cover;
  height: 100%;
}

.detail__olahraga .swiper-slide .card {
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.detail__olahraga .swiper-slide .swiper-slide-shadow-left, .detail__olahraga .swiper-slide .swiper-slide-shadow-right {
  background-image: none;
}

.artikel {
  font-family: 'Nunito Sans', sans-serif;
  margin: 20px 0 40px 0;
}

.artikel h2 {
  font-weight: 700;
}

.artikel .row {
  row-gap: 20px;
  margin-bottom: 30px;
}

.artikel .dropdown {
  margin-bottom: 50px;
}

.artikel .dropdown .btn-primary {
  background-color: #42A5F5;
  border-color: #42A5F5;
}

.artikel .dropdown .dropdown-item:hover {
  background-color: #42A5F5;
  color: white;
}

.artikel .searchbar .bg-primary {
  background-color: #42A5F5 !important;
  border-color: #42A5F5 !important;
}

.artikel .searchbar svg {
  margin-left: 13px;
}

.artikel .searchbar button {
  padding-left: 13px;
  padding-right: 19px;
}

.artikel #tombolartikel {
  border-radius: 5px;
}

.artikel .pagination {
  text-align: center;
}

.artikel .card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.artikel .card {
  border-radius: 8px;
  border: none;
}

.artikel .card-body {
  padding-top: 18px;
  padding-bottom: 16px;
  padding-right: 24px;
  padding-left: 24px;
  min-height: 310px;
}

.artikel .card-body .btn-success {
  background-color: #00B292;
  border-color: #00B292;
}

.artikel .card-body #tombolartikel {
  font-weight: 600;
  padding: 2px 8px;
  font-size: 16px;
  margin-bottom: 8px !important;
}

.artikel .card-body h6 {
  font-size: 20px;
}

.artikel .card-body p {
  color: #757575;
  font-size: 20px;
  line-height: 27px;
}

.artikel .card__contentartikel .col-md-4 {
  padding: 0px 20px;
}

.artikel .card__contentartikel a {
  text-decoration: none;
}

.artikel .card__contentartikel a h6 {
  color: #212121;
}

.errorPage .gambar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.errorPage .card {
  border-width: 0;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  font-family: 'Nunito Sans', sans-serif;
}
/*# sourceMappingURL=styles.css.map */