<%- include('./../includes/head.ejs')%>

<body>

    <%- include('./../includes/navigation.ejs')%>

    <!-- main content diisi disini ya-->
    <main class="artikel">
        <!-- title bar -->
        <div class="title-bar">
            <div class="container">
                <div class="row">
                    <div class="col display-3">
                        <h2>Artikel</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- box filter and search -->

        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter Kategori</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">Action</button>
                            <button class="dropdown-item" type="button">Another action</button>
                            <button class="dropdown-item" type="button">Something else here</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="searchbar">
                        <form id="form">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Artikel apa yang ingin kamu cari ?"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="input-group-text bg-primary text-white"
                                        id="basic-addon2">Cari</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- ubah content disini sesuai hifi -->
        <!-- main-card content -->
        <div class="card__contentartikel">
            <div class="container">
                <!-- ini akan dinamis -->
                <div class="row">
                    <div class="col-md-4 col-12">
                        <img src="images/artikel1.svg" class="card-img-top">
                        <div class="card-body">
                            <a href="#" class="btn btn-success" id="tombolartikel">Kata Pakar</a>
                            <h6 class="card-title">Aktif Olahraga dirumah dengan <br>Snack Exercise</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="images/artikel2.svg" class="card-img-top"">
                        <div class=" card-body">
                        <a href="#" class="btn btn-warning text-white" id="tombolartikel">Nutrisi</a>
                        <h6 class="card-title">Resep Makanan Berenergi saat Melakukan Olahraga di Rumah</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <img src="images/artikel1.svg" class="card-img-top"">
                        <div class=" card-body">
                    <a href="#" class="btn btn-success" id="tombolartikel">Kata Pakar</a>
                    <h6 class="card-title">Aktif Olahraga dirumah dengan <br>Snack Exercise</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <img src="images/artikel1.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="btn btn-success" id="tombolartikel" id="tombolartikel">Kata Pakar</a>
                    <h6 class="card-title">Aktif Olahraga dirumah dengan <br>Snack Exercise</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <img src="images/artikel2.svg" class="card-img-top">
                <div class="card-body">
                    <a href="#" class="btn btn-warning text-white" id="tombolartikel">Nutrisi</a>
                    <h6 class="card-title">Resep Makanan Berenergi saat Melakukan Olahraga di Rumah</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <img src="images/artikel1.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="btn btn-success" id="tombolartikel">Kata Pakar</a>
                    <h6 class="card-title">Aktif Olahraga dirumah dengan <br>Snack Exercise</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <img src="images/artikel1.svg" class="card-img-top">
                <div class="card-body">
                    <a href="#" class="btn btn-success" id="tombolartikel">Kata Pakar</a>
                    <h6 class="card-title">Aktif Olahraga dirumah dengan <br>Snack Exercise</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <img src="images/artikel2.svg" class="card-img-top">
                <div class="card-body">
                    <a href="#" class="btn btn-warning text-white" id="tombolartikel">Nutrisi</a>
                    <h6 class="card-title">Resep Makanan Berenergi saat Melakukan Olahraga di Rumah</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <img src="images/artikel1.svg" class="card-img-top">
                <div class="card-body">
                    <a href="#" class="btn btn-success" id="tombolartikel">Kata Pakar</a>
                    <h6 class="card-title">Aktif Olahraga dirumah dengan <br>Snack Exercise</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div class="">
            <div class="row justify-content-center border-0">
                <div class="col-4">
                    <ul class="pagination">
                        <li class="page-item disable">
                            <a class="page-link" href="#" tabindex="-1"> Sebelumnya </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item">
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"> Selanjutnya </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!-- end content -->

    <script>
        const year = document.querySelector('#years');

        // tampilkan tahun
        year.innerHTML = new Date().getFullYear();
    </script>
    <%- include('./../includes/end.ejs')%>