<%- include('./../includes/head.ejs')%>
<body>
    <!-- verification page -->
    <section class="verification">
        <div class="content__verification">
            <div class="formBox" >
                <div class="formBox__header">
                    <h2>Verifikasi Kode</h2>
                    <ul>
                        <li>Anda akan menerima link verifikasi di e-mail saat kamu mendaftar. Klik link tersebut untuk mengkonfirmasi pendaftaran akun Anda untuk bisa lanjut mengakses website kami.</li>
                        <li>Jika Anda belum menerima link verifikasi di e-mail, <a href="#" id="verification" class="text-primary font-weight-bold">kirim ulang email verifikasi</a></li>
                    </ul>
                </div>
                <div class="formBox__content">
                    <button class="btn btn-primary">Kembali ke Beranda</button>
                </div>
            </div>

            <div class="footer">
                C 2021 OjoMager, Inc All Right Reserved
            </div>
        </div>
        <%- include('./../includes/images.ejs') %>
    </section>
    <!-- end verification page -->

    <!-- sweet alert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        const verificationBtn = document.querySelector('#verification');

        // function get cookie
        function getCookie(cname) {
            const name = cname + "=";
            const ca = document.cookie.split(';');
            for(let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
            }

        const token = getCookie("token");

        // document.addEventListener("DOMContentLoaded", () => {
        //         if(!token){
        //             window.location.href= "/login";
        //         }                
        // });
        
        verificationBtn.addEventListener('click', () => {
            // nembak api untuk verification
            axios.post('https://backend-sport-synrgy.herokuapp.com/api/users/verification/new', {},{
                headers: {
                    "Authorization": `Bearer ${token}`
                }
            })
            .then(function (response) {
                console.log(response);
                Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Kode telah dikirim',
                showConfirmButton: false,
                timer: 1500
                })
            })
            .catch(function (error) {
                console.log(error);
            });
        });
    </script>
</body>


</html>