// ini untuk detail artikel

.detailArticle {
    font-family:'Nunito Sans', sans-serif;
    margin-top: 100px;
    // artikel
    .article{
        .h2{
            font-size: 60px;
            font-weight: bold;
        }
    }

    // card
    .card__content{
        .card{
            border-radius: 8px;
            border: none;
        }
        .card-img-top{
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .card-body{
            padding-top: 18px;
            padding-bottom: 16px;
            padding-right: 24px;
            padding-left: 24px;
            min-height: 310px;
            // h5{
            //     font-size: 16px;
            //     font-weight: 600;
            // }
            .btn-success{
            background-color:#00B292;
            border-color: #00B292;
            }
            #tombolartikel{
            font-weight: 600;
            padding: 2px 8px;
            font-size: 16px;
            margin-bottom: 8px !important;
            }
            h3{
                font-size: 20px;
                margin-bottom: 12px
            }
            p{
            color:#757575;
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 0px;
            }
            
        }
    }
}
