.errorPage{
    .gambar{
        width: 200px;
        height: 200px;
        margin:0 auto;
    }
    .card{
        border-width:0;
        background-color: white;
        margin: 0 auto;
        margin-top: 50px;
        font-family: 'Nunito Sans', sans-serif;
    }
}