.listOlahraga{
    .pagination > li > a {
        border: none;

        &:hover{
            background: $Color4;
        }
    }
}

.detail__olahraga{
    .thumbnail__donasi{
        .container{
            background: $Color6;
            border-radius: 12px;

            p{
                font-weight: lighter;
            }

            .header {
                p{
                    text-align: justify;
                }
            }

        }
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        height: 100%;

        .card{
            text-align: center;
            border-radius: 12px;
            border: 2px solid rgba($color: #000000, $alpha: .2);
        }
        
        .swiper-slide-shadow-left, .swiper-slide-shadow-right{
            background-image: none;
        }
    }
}