<%- include('./../includes/head.ejs')%>
<body>
    <!-- forgot password page -->
    <section class="forgotPassword">
        <div class="content__forgotPassword">
            <div class="formBox" >
                <div class="formBox__header">
                    <h2>Recover Password</h2>
                    <p>Tenang, kok. Manusia tidak luput dari kesalahan.</p>
                </div>
                <div class="formBox__content">
                    <form action="/forgot-password" method="POST">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary">Kirim link pemulihan ke e-mail saya</button>
                    </form>
                </div>
            </div>

            <div class="footer">
                C 2021 OjoMager, Inc All Right Reserved
            </div>
        </div>
        <%- include('./../includes/images.ejs') %>
    </section>
    <!-- end forgot password page -->
</body>

</html>