// untuk header
header {
    .navbar{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: white;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.1);

        .btn{
            border-radius: 5px;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 12px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .navbar-nav{
            font-family:'Nunito Sans';
            font-size: 12px;
        }
        .nav-link{
            margin-right: 20px;
            position: relative;
            font-size: 12px;
            font-family: 'Nunito Sans', sans-serif;
            color: black;
        }
        .nav-link:hover::after{
            content: "";
            display: block;
            margin: auto;
            padding-bottom: 5px;
            margin-bottom: -8px;
            border-bottom: 3px solid #0B63DC;
        }
        .gambar{
            width:80%;
            height:80%;
            padding: 0;
        }
        .dropdown{
            margin-right: 30px;
        }
    }
}