// untuk header
header {
    margin-bottom: 56px;
    .navbar{
        .btn{
            border-radius: 4px;
            font-family: 'Nunito Sans', sans-serif;
        }
        .navbar-nav{
            font-family:'Nunito Sans';
            font-size: 16px;
        }
        .nav-link{
            margin: 0 15px;
            position: relative;
        }
        .nav-link:hover::after{
            content: "";
            display: block;
            margin: auto;
            padding-bottom: 5px;
            margin-bottom: -8px;
            border-bottom: 3px solid #0B63DC;
        }
        
    }
}