// google font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
// color
$Color1 : #c4c4c4;
$Color2 : #000;
$Color3 : #fff;
$Color4 : #E3F2FD;
$Color5 : #202432;
$Color6 : #263238;
$Color7 : #000000;
$Color8 : #000000;