.jumbotron{
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    background: $Color6;

    .container-fluid{
        padding: 0;
        margin: 0;

        .row{
            padding: 0;
            margin: 0;

            .col-md-8.col-12{
                padding: 5px;
            }

            .col-md-4.col-12{
                position: relative;

                .info__video{
                    padding:30px;
    
                    .info__video--title{
                        font-weight: 700;
                        font-size: 20px;
                        margin-bottom: 20px;
                    }
    
                    .info__video--content{
                        font-weight: lighter;
                        font-size: 16px;
                    }
    
                    .info__video--like{
                        position: absolute;
                        bottom: 0;
                        left: 30px;
                        display: flex;
                        align-items: baseline;

                        svg{
                            margin-right: 20px;
                            filter: invert(1);
                        }
                    }
                }
            }
            
        }
    }
}
