<%- include('./../includes/head.ejs')%>
<body>
    <!-- forgot password page -->
    <section class="forgotPassword">
        <div class="content__forgotPassword">
            <div class="formBox" >
                <div class="formBox__header">
                    <h2>Recover Password</h2>
                    <p>Tenang, kok. Manusia tidak luput dari kesalahan.</p>
                </div>
                <div class="formBox__content">
                    <form id="requestForgotPassword">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary">Kirim link pemulihan ke e-mail saya</button>
                    </form>
                </div>
            </div>

            <div class="footer">
                C 2021 OjoMager, Inc All Right Reserved
            </div>
        </div>
        <%- include('./../includes/images.ejs') %>
    </section>

    <script src="/script/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $('#loginForm').submit((e) => {
            e.preventDefault();

            const baseUrl = 'https://ojo-mager-backend.herokuapp.com/api';
            const email = $('#email').val();
        
            axios({
                method: 'post',
                url: baseUrl + '/users/forgot-password/new',
                data: {
                    email,
                }
            }).then(response => {
                Swal.fire({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'URL untuk reset password sudah dikirimkan ke email anda!',
                    showConfirmButton: false,
                    timer: 1000
                });
            })
        });
    </script>
</body>

</html>