<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head', { title: 'Simpan Password Baru' }) %>
</head>

<body>
    <section class="changePassword">
        <div class="content__changePassword">
            <div class="formBox">
                <div class="formBox__header">
                    <h2>Ganti Password</h2>
                    <p>Untuk melindungi akun Anda, pastikan password Anda:</p>
                    <ul>
                        <li>Panjangnya minimal 7 karakter</li>
                        <li>Menggunakan angka dan simbol</li>
                    </ul>
                </div>
                <div class="formBox__content">
                    <form id="saveForgotPassword">
                        <div class="form-group">
                            <label for="password">Password Baru</label>
                            <input type="password" class="form-control" id="password" placeholder="Masukkan Password">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Konfirmasi Password Baru</label>
                            <input type="password" class="form-control" id="confirmPassword"
                                placeholder="Konfirmasi Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Ganti Password</button>
                    </form>
                </div>
            </div>

            <div class="footer">
                C 2021 OjoMager, Inc All Right Reserved
            </div>
        </div>
        <%- include('./../includes/images.ejs') %>
    </section>
    <%- include('./../includes/end.ejs') %>
    <% if (!isSuccess) { %>
    <script>
        customErrorAlertWithTimer('Anda tidak memiliki akses disini');
        setTimeout(() => {
            window.location.replace('/')
        }, 2000)
    </script>
    <% } %>

    <script>
        $('#saveForgotPassword').submit((e) => {
            e.preventDefault();

            const code = '<%= code %>';
            const password = $('#password').val();
            const confirmPassword = $('#confirmPassword').val();

            if (password !== confirmPassword) {
                return customErrorAlert('Password yang anda masukkan tidak sama');
            }

            const userApi = new api.User();
            userApi.saveNewPasswordFromReset(code, password).then(response => {
                successAlertWithTimer('Selamat! kamu telah berhasil mereset password akun kamu, silahkan login kembali dengan password baru anda');
                setTimeout(() => {
                    window.location.replace('/login')
                }, 2000);
            }).catch(err => {
                return errorHandling(err.response);
            })
        });
    </script>
</body>

</html>