<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head', { title: 'Verifikasi Akun' }) %>
</head>

<body>
    <section class="verification">
        <div class="content__verification">
            <div class="formBox" >
                <div class="formBox__header">
                    <h2>Verifikasi Kode</h2>
                    <ul>
                        <li>Anda akan menerima link verifikasi di e-mail saat kamu mendaftar. Klik link tersebut untuk mengkonfirmasi pendaftaran akun Anda untuk bisa lanjut mengakses website kami.</li>
                        <li>Jika Anda belum menerima link verifikasi di e-mail, <a href="#" id="verification" class="text-primary font-weight-bold">kirim ulang email verifikasi</a></li>
                    </ul>
                </div>
                <div class="formBox__content">
                    <a href="/"><button class="btn btn-primary">Kembali ke Beranda</button></a>
                </div>
            </div>

            <div class="footer">
                C 2021 OjoMager, Inc All Right Reserved
            </div>
        </div>
        <%- include('./../includes/images.ejs') %>
    </section>

    <%- include('./../includes/end.ejs') %>
    <script>
        const user_id = getParameterByName('user_id');
        if (!user_id) {
            window.location.href('/')
        }
        
        $('#verification').click(()=> {
            const userApi = new api.User();
            userApi.sendEmailVerification(user_id).then(response => {
                sucessAlertWithConfirmationButton('Kode verifikasi baru berhasil dikirim ke email anda');
            }).catch(err => {
                return errorHandling(err.response);
            });
        });
    </script>
</body>
</html>