<%- include('./../includes/head.ejs')%>
<body>
    <!-- verification page -->
    <section class="verification">
        <div class="content__verification">
            <div class="formBox" >
                <div class="formBox__header">
                    <h2>Verifikasi Kode</h2>
                    <ul>
                        <li>Anda akan menerima link verifikasi di e-mail saat kamu mendaftar. Klik link tersebut untuk mengkonfirmasi pendaftaran akun Anda untuk bisa lanjut mengakses website kami.</li>
                        <li>Jika Anda belum menerima link verifikasi di e-mail, <a href="#" id="verification" class="text-primary font-weight-bold">kirim ulang email verifikasi</a></li>
                    </ul>
                </div>
                <div class="formBox__content">
                    <a href="/"><button class="btn btn-primary">Kembali ke Beranda</button></a>
                </div>
            </div>

            <div class="footer">
                C 2021 OjoMager, Inc All Right Reserved
            </div>
        </div>
        <%- include('./../includes/images.ejs') %>
    </section>
    <!-- end verification page -->
    
    <script src="/script/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        const user_id = getParameterByName('user_id');
        
        $('#verification').click(()=> {
            const baseUrl = 'https://ojo-mager-backend.herokuapp.com/api';
            axios({
                method: 'post',
                url: baseUrl + '/users/verification/new',
                data: {
                    user_id
                }
            }).then(response => {
                Swal.fire({
                    icon: 'success',
                    title: 'Berhasil',
                    text: 'Kode telah dikirim ke email anda',
                    showConfirmButton: false,
                    timer: 1000
                });
            });
        })
    </script>
</body>


</html>