<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head', { title: 'Proses Verifikasi' }) %>
</head>
<body>
    <%- include('./../includes/navigation.ejs') %>
    <div style="min-height: 100vh;">

    </div>
    <%- include('./../includes/footer.ejs') %>
    <%- include('./../includes/end.ejs') %>
    <% if (isSuccess) { %>
        <script>
            successAlertWithTimer('Berhasil memverifikasi akun anda');
            const token = getCookie('jwt_token');
            
            if (token) {
                setTimeout(()=> {
                    window.location.replace('/');
                }, 2000)
            } else {
                setTimeout(()=> {
                    window.location.replace('/login');
                }, 2000)
            }
        </script>
    <%  } else if (error == 'USER_NOT_FOUND' || error == 'CODE_NOT_FOUND') { %>
        <script>
            customErrorAlertWithTimer('Kode yang anda masukkan tidak valid');

            setTimeout(()=> {
                window.location.replace('/');
            }, 2000)
        </script>
    <% } else if (error == 'ALREADY_VERIFIED') { %>
        <script>
            customErrorAlertWithTimer('User telah terverifikasi');

            setTimeout(()=> {
                window.location.replace('/');
            }, 2000)
        </script>
    <% } %>
</body>
</html>